.block_progress .content {
    text-align: center;
}

.block_progress table {
    margin: 0 auto;
}

.block_progress .progressBarProgressTable {
    width: 98%;
    margin: 0 0 2px 0;
	height: 17px;
}

.block_progress .progressBarCell {
    border: 1px solid #000000 !important;
    height: 15px;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

.block_progress .progressBarCell img {
    max-width: 70%;
	height: 15px;
    margin: 1px 0 0 0;
}

.block_progress .progressEventInfo {
    font-size: x-small;
    text-align: left;
}

.block_progress .progressBarHeader {
    font-size: 90%;
    margin: 0;
    padding: 0;
}

.progressConfigBox {
    border:1px dashed #cccccc;
    padding: 5px;
    margin:5px 0 !important;
}